// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#0C2D48"}}; /* Sötétkék */
$text-color: {{.text_color | default "#333333"}}; /* Sötétszürke */
$text-dark: {{.text_dark | default "#222222"}}; /* Sötét szürke */
$text-light: {{.text_light | default "#F0F0F0"}}; /* Világos szürke */
$body-color: {{.body_color | default "#FFFFFF"}}; /* Fehér */
$border-color: {{.border_color | default "#ECECEC"}}; /* Világos szürke */
$black: {{.black | default "#000000"}}; /* Fekete */
$white: {{.white | default "#FFFFFF"}}; /* Fehér */
$light: {{.light | default "#F9CDAE"}}; /* Pasztell sárga */


// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato"}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato"}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ end }}

// import bootstrap
@import 'bootstrap/bootstrap';

// import theme style
@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

@import 'templates/main.scss';

@import 'custom.scss';