// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#0C2D48"}}; 
$text-color: {{.text_color | default "#333333"}}; 
$text-dark: {{.text_dark | default "#222222"}}; 
$text-light: {{.text_light | default "#F0F0F0"}}; 
$body-color: {{.body_color | default "#FFFFFF"}}; 
$border-color: {{.border_color | default "#ECECEC"}}; 
$black: {{.black | default "#000000"}};
$white: {{.white | default "#FFFFFF"}}; 
$light: {{.light | default "#E9C46A"}}; 
$highlight: {{.highlight | default "#F4A261"}};


// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato"}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato"}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ end }}

// import bootstrap
@import 'bootstrap/bootstrap';

// import theme style
@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

@import 'templates/main.scss';

@import 'custom.scss';
