{{ define "main" }}
<div style="
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
">

  <h1>Eljössz velem 50 km-es túrára? 🥾</h1>

  <div style="
    margin-top: 40px;
    display: flex;
    gap: 30px;
  ">

    <!-- IGEN -->
    <a
      href="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHhka3duMXJvZTc5cDU1ejgwZHI2bDhmdWl1eDh0ZGI1NWV2NHRocyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IILnKw77dzgJsW2lBy/giphy.gif"
      style="
        display: inline-block;
        background: #28a745;
        color: white;
        font-size: 20px;
        padding: 15px 35px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
      ">
      Igen 💚
    </a>

    <!-- NEM -->
    <a
      href="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzVmYzNxNmIwZzQ0M3VybGZ4d2o1NHN2cXZ2cnJxaWNpcmVtYWZlciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MKzU3oPvBjFV4DC36t/giphy.gif"
      style="
        display: inline-block;
        background: #dc3545;
        color: whit
