{{ define "main" }}
<div class="tura-container">
  <h1>Eljössz velem 50 km-es túrára? 🥾</h1>

  <div class="buttons">
    <button
      id="yesBtn"
      class="yes"
      onclick="window.location.href='https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHhka3duMXJvZTc5cDU1ejgwZHI2bDhmdWl1eDh0ZGI1NWV2NHRocyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IILnKw77dzgJsW2lBy/giphy.gif'">
      Igen 💚
    </button>

    <button
      id="noBtn"
      class="no"
      onclick="window.location.href='https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzVmYzNxNmIwZzQ0M3VybGZ4d2o1NHN2cXZ2cnJxaWNpcmVtYWZlciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MKzU3oPvBjFV4DC36t/giphy.gif'">
      Nem ❤️‍🔥
    </button>
  </div>

  <div id="gifContainer" class="hidden">
    <img src="/images/happy.gif" alt="Boldogság">
  </div>
</div>
{{ end }}
